@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phiếu khám bệnh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <style type="text/css">
        body {
            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
        }

        .tieude {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
        }

        .tieumuc {
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }

        .noidung {
            font-weight: bold;
            color: cornflowerblue;
        }
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
            padding-left:0;
            padding-right:0;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <label class="col-12 tieude mb-0">PHIẾU KHÁM BỆNH / MEDICAL RECORD</label>
                <label class="col-12">PHÒNG KHÁM/CLINIC:</label>
            </div>
        </div>
        <!-- I. HÀNH CHÍNH/PATIENT INFORMATION -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="tieumuc">I. HÀNH CHÍNH/PATIENT INFORMATION:</label>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-auto">1. Họ và tên BN (In hoa)/Patient's name:</label>
                        <label class="col-auto noidung" style="text-transform:uppercase;">Nguyễn Văn A</label>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="row justify-content-start">
                                <label class="col-auto">2. Ngày sinh/DOB (dd/mm/yyyy):</label>
                                <label class="col-auto noidung">19/05/1995</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-start">
                                <label class="col-auto">7. Điện thoại liên hệ/Phone No:</label>
                                <label class="col-auto noidung">0975318195</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="row justify-content-start">
                                <label class="col-auto">3. Tuổi/Age:</label>
                                <label class="col-auto noidung">30 Tuổi</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-start">
                                <label class="col-auto">4.Giới/Gender:</label>
                                <label class="col-auto noidung">Nữ/Female</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-start">
                                <label class="col-auto">5. Quốc tịch/Nationality:</label>
                                <label class="col-auto noidung">Việt Nam</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-auto">6. Địa chỉ/Address:</label>
                        <label class="col-auto noidung" style="text-transform:capitalize">Số 108 Hoàng Như Tiếp, phường bồ đề, quận long biên, thành phố hà nội</label>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-auto">7. Ngày giờ đến khám/Examination date (dd/mm/yyyy):</label>
                        <label class="col-auto noidung">07 giờ 00 phút ngày 01/01/2022</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <!-- II. HỎI BỆNH -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="tieumuc">II. HỎI BỆNH/MEDICAL INQUIRY:</label>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-auto">1. Lý do đến khám/Chief complaint:</label>
                        <label class="col-auto noidung">Đau khớp đầu gối</label>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-12">2. Quá trình bệnh lý/History of present illness:</label>
                        <label class="col-auto noidung">Người bệnh đau khớp vai khoảng 1 tháng nay, đau nhiều về đêm, không chấn thương, lan xuống bả vai tría => Đến khám</label>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-12">3. Tiền sử bệnh bản thân/Past medical history:</label>
                        <label class="col-auto ml-2">+ Thời gian khởi phát:</label>
                        <label class="col-auto noidung">01 năm 01 tháng</label>
                    </div>
                    <div class="row justify-content-start">
                        <label class="col-auto ml-2">+ Triệu chứng khởi phát:</label>
                        <label class="col-auto noidung">abc...</label>
                    </div>
                    <div class="row justify-content-start">
                        <label class="col-auto ml-2">+ Chẩn đoán trước đó:</label>
                        <label class="col-auto noidung">abc...</label>
                    </div>
                    <div class="row justify-content-start">
                        <label class="col-auto ml-2">+ Thuốc điều trị:</label>
                        <label class="col-auto noidung">abc...</label>
                    </div>
                    <div class="row justify-content-start">
                        <label class="col-auto ml-2">+ Nội khoa:</label>
                        <label class="col-auto noidung">Viêm gan C đã điều trị</label>
                    </div>
                </div>
                <div class="col-12 ml-3">
                    <div class="row justify-content-start">
                        <label class="col-12">4. Tiền sử gia đình/Family history:</label>
                        <label class="col-auto noidung">Bình thường</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <!-- III. KHÁM LÂM SÀNG -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="tieumuc">III. KHÁM LÂM SÀNG/PHYSICAL EXAMINATION:</label>
                </div>
                <div class="col-12">
                    <label class="col-12">1. Lý do đến khám/Chef complaint:</label>
                    <div class="row justify-content-start">
                        <label class="col-12 ml-4">+ Bệnh tỉnh, tiếp xúc tốt:</label>
                        <label class="col-12 ml-4">+ Da niêm mạc: Bình thường:</label>
                        <label class="col-12 ml-4">+ Tuyến giám: Không to</label>
                    </div>
                    <label class="col-12">2. Các bộ phận/Review of systems:</label>
                    <div class="row justify-content-start">
                        <label class="col-12 ml-4">+ Tim: Nhịp đều</label>
                        <label class="col-12 ml-4">+ Phổi: Không có rales</label>
                        <label class="col-12 ml-4">+ Bụng: Bụng mềm, không chướng</label>
                        <label class="col-12 ml-4">+ Cơ xương khớp:</label>
                        <label class="col-12 ml-4">- Cơ vai trái co cứng nhẹ, khớp cùng vai đòn</label>
                        <label class="col-12 ml-4">- Ấn đau gân cơ nhị đầu trên gai</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-start">
                        <label class="col-auto noidung ml-4">+ Triệu chứng lâm sàng:</label>
                        <label class="col-auto noidung">abc...</label>
                    </div>
                    <div class="row justify-content-start">
                        <label class="col-auto noidung ml-4">+ Chỉ số ASDAS:</label>
                        <label class="col-auto noidung">abc...</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <!-- IV. CẬN LÂM SÀNG -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="tieumuc">IV. CẬN LÂM SÀNG/LABORATỎY TESTING AND IMAGING:</label>
                </div>
                <div class="col-12">
                    <label class="col-12">+ XN tại BV TA:</label>
                    <div class="row justify-content-start">
                        <label class="col-12 ml-4">+ Bệnh tỉnh, tiếp xúc tốt:</label>
                        <label class="col-12 ml-4">+ Da niêm mạc: Bình thường:</label>
                        <label class="col-12 ml-4">+ Tuyến giám: Không to</label>
                    </div>
                    <label class="col-12">+ XN ở BV khác:</label>
                    <div class="row justify-content-start noidung">
                        <label class="col-12 ml-4">Bilan viêm</label>
                        <label class="col-12 ml-4">HLA-B27</label>
                        <label class="col-12 ml-4">Viêm khớp CC trên X-ray: Có/không</label>
                        <label class="col-12 ml-4">Viêm khớp CC trên MRÍ: Có/không</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <!-- V. CHẨN ĐOÁN -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="col-auto tieumuc">V. CHẨN ĐOÁN (Mã ICD-10)/ DIAGNOSIS (ICD-10 Code):</label>
                    <label class="col-auto noidung">Viêm khớp không đặc hiệu (M13.9);</label>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <!-- VI. HƯỚNG XỬ TRÍ -->
        <div class="row">
            <div class="col-12 text-left">
                <div class="col-12">
                    <label class="col-auto tieumuc">VI. HƯỚNG XỬ TRÍ/ TREATMENT:</label>
                    <label class="col-auto noidung">Tư vấn và kê đơn</label>
                </div>
            </div>
        </div>
        <!-- --------------------------------- -->
        <div class="row">
            <div class="col-12">
                Ghi chú: Đến khám lại ngay khi có dấu hiệu bất thường/ Note: Visit hospital immediately if you have any abnormal signs
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-4 text-center">
                <label class="col-12">Ngày 17 tháng 10 năm 2022/Date: 10/17/2022</label>
                <label class="col-12"><strong>BÁC SĨ KHÁM BỆNH/DOCTOR</strong></label>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <label class="col-12"><strong>BSCKI. NGUYỄN THỊ KIM LOAN</strong></label>
            </div>
        </div>
    </div>
    <footer>
        <span>
            <i>
                1.Quý Khách hàng vui lòng đặt hẹn trước khi tái khám- Số tổng đài đặt hẹn: 18006858/ Please make an appointment fornext examination via phone number: 18006858
                <br />
                2. Nếu có thay đổi thông tin (số điện thoại, địa chỉ,...) xin quý khách vui lòng thông báo lại cho Bệnh viện qua bộ phận Chăm sóc Khách hàng/ 
            </i>
        </span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
