<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title head-text">Danh sách đăng ký khám chữa bệnh</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="PhongKham" class="col-form-label col-auto">Phòng khám:</label>
                            <div class="col-auto">
                                <select class="form-control" id="PhongKham" name="PhongKham">
                                    <option>PK Cơ xương khớp</option>
                                </select>
                            </div>
                            <button class="btn btn-info ml-5" id="searchKCB">Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
                <table class="table table-bordered table-hover text-nowrap">
                    <thead class="thead">
                        <tr>
                            <th>STT</th>
                            <th>Phòng khám</th>
                            <th>Tổng số</th>
                            <th>Chưa khám</th>
                            <th>CLS</th>
                            <th>Chờ kết quả</th>
                            <th>Đã khám</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>11-7-2014</td>
                            <td><a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phongkhamCXK-1" data-url="/CoXuongKhop/DanhSachChiTietBenhNhanChoKham">Approved</a></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>219</td>
                            <td>Alexander Pierce</td>
                            <td>11-7-2014</td>
                            <td><a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phongkhamCXK-2" data-url="/CoXuongKhop/DanhSachChiTietBenhNhanChoKham">Pending</a></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>657</td>
                            <td>Bob Doe</td>
                            <td>11-7-2014</td>
                            <td><a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phongkhamCXK-3" data-url="/CoXuongKhop/DanhSachChiTietBenhNhanChoKham">Approved</a></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                        <tr>
                            <td>175</td>
                            <td>Mike Doe</td>
                            <td>11-7-2014</td>
                            <td><a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phongkhamCXK-4" data-url="/CoXuongKhop/DanhSachChiTietBenhNhanChoKham">Denied</a></td>
                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->

