@model DataBVTA.Models.ViewModels.DanhSachDangKyKhamBenh
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title head-text">Danh sách đang làm CLS</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="PhongKham" class="col-form-label col-auto">Phòng khám:</label>
                            <div class="col-auto">
                                <select class="form-control selectPhongKham" id="PhongKham3" name="PhongKham3" asp-items="@Model.PhongKham">
                                    <option value="-1" selected="selected">Tất cả phòng khám</option>
                                </select>
                            </div>
                            <label for="HoTenKH" class="col-form-label col-auto ml-5">PID/Họ tên KH:</label>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="HoTenKH3" name="HoTenKH3" />
                            </div>
                            <button class="btn btn-info ml-5" id="searchDangThucHienCLS">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover text-nowrap" width="100%" id="dangThucHienCLSTable">
                    <thead class="thead">
                        <tr>
                            <th>STT</th>
                            <th>Giờ đăng ký</th>
                            <th>Phòng khám</th>
                            <th>Mã khách hàng</th>
                            <th>Họ tên</th>
                            <th>Năm sinh</th>
                            <th>Giờ hẹn</th>
                            <th>Dịch vụ</th>
                            <th>Ghi chú</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->