<div class="card mb-0 mr-0" style="height: 100%">
    <div class="card-header" style="padding-bottom:17px; padding-top:17px;">
        <h3 class="card-title head-text">Danh mục</h3>
    </div>
    <div class="card-body">
        <!-- Sidebar -->
        <div class="sidebar" style="height:auto;">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent text-sm" data-widget="treeview" role="menu" data-accordion="farse">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p>
                                1.Khám lâm sàng
                            </p>
                        </a>
                    </li>
                    <li class="nav-item menu-is-opening menu-open">
                        <a href="#" class="nav-link">
                            <i class="far fa-plus-square"></i>
                            <p>
                                2. Đánh giá
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block;">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-minus-square"></i>
                                    <p>2.1 Đánh giá ASDAS</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-minus-square"></i>
                                    <p>2.2 Đánh giá DAPSA</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-minus-square"></i>
                                    <p>2.3 Đánh giá PASI</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p>
                                3. Chỉ định
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p>
                                4. Đơn thuốc
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p>
                                5. Xử trí
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </div>
</div>