@{
    Layout = null;
}
<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle"> <i class="fas fa-th-list"></i>  Kê đơn - Khách hàng: | Họ và tên: | Năm sinh:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="myForm" method="post" asp-area="" asp-action="KhamLamSang" asp-controller="CoXuongKhop">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="CRP" class="col-auto col-form-label">Ngày kê đơn:</label>
                                <div class="col-3">
                                    <input type="text" id="ngayKeDon" name="ngayKeDon" class="form-control datetimepicker-input ngayKeDon" data-toggle="datetimepicker" data-target="#ngayKeDon" />
                                </div>
                                <label for="CRP" class="col-auto col-form-label ml-5">Mã ICD:</label>
                                <label for="CRP" class="col-auto col-form-label" style="color: dodgerblue; font-weight:bold;">M95</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="CRP" class="col-3 col-form-label">Chẩn đoán:</label>
                                <label for="CRP" class="col-auto col-form-label bluebold" style="color: dodgerblue; font-weight:bold;">Viêm khớp cột sống</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="CRP" class="col-2 col-form-label">Ghi chú toa thuốc:</label>
                                <textarea class="form-control col" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered text-nowrap" style="width: 100%" id="toaThuocTable">
                        <thead class="thead">
                            <tr>
                                <th>Tên thuốc</th>
                                <th>Cách dùng</th>
                                <th>SL</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Tiện ích</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-wrap">Chẩn đoán hình ảnh</td>
                                <td class="text-wrap">Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                <td class="text-wrap">183</td>
                                <td class="text-wrap">11-7-2014</td>
                                <td class="text-wrap">11-7-2014</td>
                                <td class="text-wrap"><span class="tag tag-success">Approved</span></td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#ngayKeDon').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
    });
    $(document).ready(function () {
        var table = $('#toaThuocTable').DataTable({
            "render": function (data, type, row) {
                return '<input type="button" class="btn btn-link btn-sm" name="delete" value="Xóa"/>';
            }
        });


    });
</script>