@model DataBVTA.Models.ViewModels.PermissionViewModel
<div class="tab-custom-content">
    <div class="row">
        <div class="col"><label class="col-form-label" style="font-size:16px; text-transform:uppercase">Danh sách người dùng</label></div>
        <div class="col">
            @*<a class="btn btn-success float-right" data-toggle="ajax-modal" data-target="#addRoles" data-url="/Roles/CreateRoles"><i class="fa fa-plus"></i> &nbsp Thêm Role</a>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <table class="table table-bordered table-striped dataTable dtr-inline" width="100%" role="grid" id="tableRoles">
            <thead>
                <tr>
                    <th class="text-wrap w-aut0">ID</th>
                    <th class="text-wrap w-aut0">Tên nhóm quyền</th>
                    <th class="text-wrap w-aut0">Mô tả</th>
                    <th class="text-wrap w-aut0">Tiện ích</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-4">
        <form method="post" asp-controller="Permission" asp-action="CreateRoles" id="roleForm">
            <div class="card-body">
                <div class="row form-group" hidden>
                    <div class="col-2"><label for="RoleID">ID:</label></div>
                    <div class="col">
                        <input type="text" class="form-control" name="RoleID" id="RoleID" readonly />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2"><label for="RoleName">Tên Role:</label></div>
                    <div class="col"><input type="text" class="form-control" name="RoleName" id="RoleName" placeholder="Nhập tên Role" required /></div>
                </div>
                <div class="row form-group">
                    <div class="col-2"><label for="Description">Mô tả:</label></div>
                    <div class="col"><textarea rows="4" class="form-control" name="Description" id="Description"></textarea></div>
                </div>
                <!-- /.card-body -->
                <div class="row justify-content-center">
                    <div class="col-auto mr-3">
                        <button type="reset" class="btn btn-info">Làm mới</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-success" id="btnAdd">Thêm mới</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    (function () {
        document.querySelector('body').addEventListener('scriptsLoaded', function () {

            // .. do your thing here
            var columnData = [
                { "data": "id" },
                { "data": "roleName" },
                { "data": "tongso" },
                {
                    "data": { chuakham: "chuakham", maphongkham: "maphongkham" },
                    "render": function (data, title, row) {
                        return '<a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phongkhamCXK-' + row.id + '" data-url="/CoXuongKhop/DanhSachChuaKham?mapk=' + data.maphongkham + '">' + data.chuakham + '</a>';
                    }
                },
                { "data": "cls" },
                { "data": "coketqua" },
                { "data": "dakham" },
            ]
            searchDataTable("#tableRoles", columnData, "/Admin/GetRoles", 10, "");

            $('#btnAdd').on('click', function (event) {
                alert("OK");
                var data = $("#roleForm").serialize();
                console.log(data);
                alert(data);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/InsertOrUpdateRole',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                    data: data,
                    success: function (data, result) {
                        $(this).callToast("success","Thành công!",data.Message)
                    },
                    error: function (data) {
                        $(this).callToast("error", "Lỗi!", data.Message)
                    }
                })
            });
        });
    })();
</script>